/*CUSTOM-PROPS */

:root {
    --bg-color: #16133B;
    --text-color: #FEFFF9;
    --font-inconsolata: 'Inconsolata', monospace;
    /* --font-patrick: 'Patrick Hand', cursive;
    --font-martian: 'Martian Mono', monospace;
    --font-chivo: 'Chivo Mono', monospace;
    --font-josefin: 'Josefin Sans', sans-serif;
    --font-space: 'Space Grotesk', sans-serif; */
}


/* FONTS */


/* @font-face {
    font-family: 'Pompiere';
    src: url('../fonts/Pompiere-Regular.woff2') format('woff2'), url('../fonts/Pompiere-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turret Road';
    src: url('../fonts/TurretRoad-Bold.woff2') format('woff2'), url('../fonts/TurretRoad-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Digitalism';
    src: url('../fonts/Digitalism.woff2') format('woff2'), url('../fonts/Digitalism.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turret Road';
    src: url('../fonts/TurretRoad-Light.woff2') format('woff2'), url('../fonts/TurretRoad-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Xtrusion (BRK)';
    src: url('../fonts/XtrusionBRK.woff2') format('woff2'), url('../fonts/XtrusionBRK.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turret Road';
    src: url('../fonts/TurretRoad-Medium.woff2') format('woff2'), url('../fonts/TurretRoad-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turret Road';
    src: url('../fonts/TurretRoad-ExtraBold.woff2') format('woff2'), url('../fonts/TurretRoad-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turret Road';
    src: url('../fonts/TurretRoad-Regular.woff2') format('woff2'), url('../fonts/TurretRoad-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turret Road';
    src: url('../fonts/TurretRoad-ExtraLight.woff2') format('woff2'), url('../fonts/TurretRoad-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urban Jungle';
    src: url('../fonts/urbanJungle/UrbanJungleDEMO.woff2') format('woff2'), url('../fonts/urbanJungle/UrbanJungleDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */


/* GLOBAL */

*:focus {
    outline: 3px dotted var();
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--font-inconsolata);
    /* font-family: var(--font-chivo); */
    /* font-family: var(--font-josefin);
    font-family: var(--font-martian);
    font-family: var(--font-patrick);
    font-family: var(--font-space); */
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */


/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */


/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}


/* PORTFOLIO */

.potfolio__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio__header {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio__icon {
    margin-top: 0;
    margin-bottom: 2px;
    /* width: 100px; */
}

.portfolio__title {
    margin-top: 0;
    margin-bottom: 6px;
}

.portfolio__text {
    margin-top: 0;
    font-size: 20px;
}

.portfolio__line {
    margin-top: 0;
    height: 0.5px;
    border: 0;
    background-color: var(--text-color);
}

.portfolio__main {
    display: flex;
    align-items: center;
}

.portfolio__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 55px;
}

.portfolio__item {
    margin-top: 0;
}

.portfolio__item:not(:last-child) {
    margin-bottom: 10px;
}

.portfolio__item-title {
    margin-top: 0;
    margin-bottom: 4px;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}

.portfolio__item-title:hover {
    text-decoration: underline;
    color: rgb(194, 47, 199);
}

.portfolio__item-descr {
    margin-top: 0;
    font-size: 19px;
}

.portfolio__img {
    width: 400px;
    border-radius: 12px;
    border: 1px solid var(--text-color);
}

.portfolio__copyright {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.front {
    color: goldenrod;
}

.me {
    font-weight: bold;
}

.minimalism {
    margin-top: 0;
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 15px;
}


/* app.html */

.apps__wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.apps__header {
    display: flex;
    align-items: center;
}

.apps__header-profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.apps__header-profile-img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.app__header-profile-link {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color);
}

.apps__header__drop {
    margin-right: 20px;
    color: gray;
}

.apps__header-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.apps__header-title {
    font-size: 25px;
    font-weight: 200;
    color: var(--text-color);
    margin-right: 5px;
}

.apps__header-icon {
    position: relative;
    bottom: -2px;
    width: 20px;
    height: 20px;
}

.github {
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.github-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.github-text {
    font-size: 25px;
    color: #c0c1be;
}


/* HERO */

.apps__hero {
    padding-top: 10px;
    padding-bottom: 10px;
}

.apps__hero-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 43px;
}

.apps__hero-text {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 26px;
    font-weight: 400;
    color: rgb(193, 181, 181);
}

.apps__hero-list {
    margin-top: 0;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
}

.apps__hero-item:not(:last-child) {
    margin-right: 30px;
}

.apps__hero-item {
    margin-bottom: 50px;
}

.apps__hero-wrapper {
    width: 350px;
    height: 400px;
    box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.529);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #08052578;
    border-radius: 10px;
    border: 1px solid rgba(20, 19, 19, 0.436);
}

.apps__hero-wrapper:hover {
    transform: translateY(-5px);
    transition: ease 0.4s;
}

.apps__hero-img {
    border-radius: 10px 5px 0 0;
    width: 350px;
    height: 200px;
}

.apps__hero-content {
    padding: 2px 16px;
}

.apps__hero-content-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    /* text-decoration: none; */
    font-weight: 800;
    color: white;
}

.apps__hero-content-text {
    margin-top: 0;
    font-size: 15px;
    font-weight: 300;
    color: #c0c1be;
}

.gray {
    color: grey;
}

.add {
    display: flexbox;
    justify-content: center;
    padding: 1px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 13px;
}

.add:not(:last-child) {
    margin-right: 5px;
}


/* RETINA */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    @media only screen and (max-width: 400px) {
        .portfolio__main {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .portfolio__list {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .portfolio__img {
            margin-top: 0;
            margin-bottom: 25px;
            width: 400px;
            border-radius: 12px;
            border: 1px solid var(--text-color);
        }
    }
}